<div></br></div>
    <h2>{{notebook.notebook_name}}</h2>

<div class="form edit-form">
  <h3>Add New Note</h3>
  </br>
  <form id="add-note-form">
    <input
      type="text"
      placeholder="Subject"
      name="note-subject"
      class="form-input"
    />

    <textarea type="text" placeholder="Notes" name="note-body" class="edit"></textarea>
    <div class="container">
      <button type="submit" class="button">Add New Note</button>
    </div>
  </form>
</div>

<section>
  {{#if notebook.notes}}
    <div class="notes">
      <h3>Notes</h3>
      {{#each notebook.notes}}
        <article class="card note">
            <a href="/mynotebooks/edit/note/{{id}}">
                <div class="card-header">
                    <h5>{{question}}</h5>
                </div>
                <div class="card-body">
                    <p>
                        {{answer}}
                    </p>
                </div>
            </a>
        </article>
      {{/each}}
    </div>
  {{/if}}
</section>

<footer>
    <div class="container">
      <button type="button" id="delete-btn" class="delete-button">Delete Notebook</button>
    </div>
    
    </br>
    </br>

</footer>

<script src="/javascript/add-note.js"></script>
<script src="/javascript/delete-notebook.js"></script>