<div id="login-form" class="login-form">
        <h3>Login</h3>
    <form>
        <label for="email">Enter email address:</label>
        <input type="email" placeholder="Email Address" name="email" id="email" class="form-input" />
        
        <label for="password">Enter Password</label>
        <input type="password" placeholder="Password" name="password" id="password" class="form-input" />
        <button type="submit">
            Log In
        </button>
    </form>    
</div>