<div class="login-form">
  <h3>Sign Up</h3>
  <form id="signup-form">
    <label for="username-signup">Username</label>
    <input
      type="text"
      placeholder="Username"
      id="username-signup"
      class="form-input"
    />

    <label for="email-signup">Enter email address:</label>
    <input
      type="text"
      placeholder="Email Address"
      id="email-signup"
      class="form-input"
    />

    <label for="password-signup">Enter Password</label>
    <input
      type="password"
      placeholder="Password"
      id="password-signup"
      class="form-input"
    />
    <button type="submit">Sign Up</button>
    </br>
    </br>
    <a type="button" class="link" href="/login">Don't have an account?
      Log in here!</a>
  </form>
</div>

<script src="/javascript/login.js"></script>